# Frontend
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CONTRACT_ADDRESS=
PXE_URL=http://localhost:8090

# Relayer
SPY_RPC_HOST=localhost:7073
SOURCE_CHAIN_ID=56
DEST_CHAIN_ID=10003
AZTEC_PXE_URL=http://localhost:8090
AZTEC_WALLET_ADDRESS=0x
ARBITRUM_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
PRIVATE_KEY=0x
WORMHOLE_CONTRACT=0x
ARBITRUM_TARGET_CONTRACT=0x
EMITTER_ADDRESS=0x
VERIFICATION_SERVICE_URL=http://localhost:8080

# Foundry / EVM Contracts
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DONATION_RECEIVER=0x

# Noir / Aztec

