[submodule "packages/evm/lib/openzeppelin-contracts"]
	path = packages/evm/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/evm/lib/wormhole"]
	path = packages/evm/lib/wormhole
	url = https://github.com/NethermindEth/wormhole
	branch = v3.0.0
[submodule "packages/aztec/deps/wormhole"]
	path = packages/aztec/deps/wormhole2
	url = https://github.com/NethermindEth/wormhole
	branch = aztec
