[submodule "packages/evm-contracts/lib/openzeppelin-contracts"]
	path = packages/evm-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/evm-contracts/lib/wormhole"]
	path = packages/evm-contracts/lib/wormhole
	url = https://github.com/NethermindEth/wormhole
[submodule "packages/aztec-contracts/wormhole-source"]
	path = packages/aztec-contracts/contracts/wormhole-source
	url = https://github.com/NethermindEth/wormhole
	branch = aztec
